name: Deploy to AWS
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo apt update
            sudo apt install -y nodejs npm
            sudo npm install -g pm2
            cd ~/Interstellar || git clone https://github.com/${{ github.repository }} ~/Interstellar
            cd ~/Interstellar
            git pull origin main
            npm install
            pm2 delete interstellar || true
            pm2 start npm --name "interstellar" -- start
